LexEVSAnalyiticalService/schema/LexEVSGridService/commonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/commonTypes" xmlns:iso21090="uri:iso.org:21090" xmlns:lgNaming="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/naming" xmlns:lgVer="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/versions" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/commonTypes">

        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/naming" schemaLocation="naming.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/versions" schemaLocation="versions.xsd"/>
		<xs:import namespace="uri:iso.org:21090" schemaLocation="ISO_extensions.xsd"/>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: EntityTypes  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="EntityTypes">
                <xs:restriction base="xs:string">
                        <xs:annotation>
                                <xs:documentation>A list of entityTypes to be used where appropriate.  Service behavior may be keyed off of these local identifiers, independent of the associated URI's</xs:documentation>
                        </xs:annotation>
                        <xs:enumeration value="concept">
                                <xs:annotation>
                                        <xs:documentation>The entity represents a class or category.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="instance">
                                <xs:annotation>
                                        <xs:documentation>The entity represents an individual or instance.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="association">
                                <xs:annotation>
                                        <xs:documentation>The entity represents a relationship, association or "property".</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                </xs:restriction>
        </xs:simpleType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: propertyTypes  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="propertyTypes">
                <xs:restriction base="xs:string">
                        <xs:annotation>
                                <xs:documentation>A list of propertyTypes to be used where appropriate.  Service behavior may be keyed off of these local identifiers, independent of the associated URI's</xs:documentation>
                        </xs:annotation>
                        <xs:enumeration value="presentation">
                                <xs:annotation>
                                        <xs:documentation>Property of type 'presentation'.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="definition">
                                <xs:annotation>
                                        <xs:documentation>Property of type 'definition'</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="comment">
                                <xs:annotation>
                                        <xs:documentation>Property of type 'comment'</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="property">
                                <xs:annotation>
                                        <xs:documentation>Property of type 'property'</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                </xs:restriction>
        </xs:simpleType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: source  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="source">
                <xs:annotation>
                        <xs:documentation>The local identifier of a person, organization of bibliographic resource that played a role in the creation or maintenance of a resource.</xs:documentation>
                </xs:annotation>

						<xs:sequence>
                                <xs:element name="subRef" type="iso21090:ST">
                                        <xs:annotation>
                                                <xs:documentation>The page, subheading, id or other localized information within the source itself.   Used to make a source reference more precise. Must be absent in supportedSource.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="role" type="iso21090:ST">
                                        <xs:annotation>
                                                <xs:documentation>The role or purpose of the the source for this particular resource (e.g. author, distributor).  Must be absent in supportedSource</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                       
   					</xs:sequence>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<Mixin>>  describable  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="describable">
                <xs:annotation>
                        <xs:documentation>Any resource that can have an associated description.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="entityDescription" type="entityDescription" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>The description of the resource.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<Mixin>>  versionable     -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="versionable">
                <xs:annotation>
                        <xs:documentation>A resource that can undergo change over time while maintaining its identity.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="owner" type="iso21090:ST" minOccurs="0"  maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation>The owner of the resource. The specific semantics of owner is defined by the busniess rules of the implementor, including the rules of the owner field is absent.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="entryState" type="lgVer:entryState" minOccurs="0"  maxOccurs="1" >
                                <xs:annotation>
                                        <xs:documentation>The description of the current state of the resource and its change history.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
		                
		                <xs:element name="isActive" type="iso21090:BL">
		                        <xs:annotation>
		                                <xs:documentation>True means that this resource is searchable and browsable if the temporal context of the operation falls between effectiveDate and expirationDate. False means that this resource is only accessible if requested by id or by a search that specifies that inactive retrievals are allowed. Default: True</xs:documentation>
		                        </xs:annotation>
		                </xs:element>
		                <xs:element name="status" type="iso21090:BL">
		                        <xs:annotation>
		                                <xs:documentation>The status code associated with the particular resource. The semantics and business rules of entryStatus are defined by the containing system, but there needs to be a mapping into isActive above.</xs:documentation>
		                        </xs:annotation>
		                </xs:element>
		                <xs:element name="effectiveDate" type="iso21090:TS">
		                        <xs:annotation>
		                                <xs:documentation>The date and time that this resource is considered to be active.  To be considered active, isActive must be true, and the temporal context of the operation must be greater than effectiveDate.  If omitted, all temporal contexts are considered to be valid.</xs:documentation>
		                        </xs:annotation>
		                </xs:element>
		                <xs:element name="expirationDate" type="iso21090:TS">
		                        <xs:annotation>
		                                <xs:documentation>The date and time that this resource is considered to become inActive.  To be considered active, isActive must be true, and the temporal context of the operation must be less than expirationDate.  If omitted, all temporal contexts are considered to be valid.</xs:documentation>
		                        </xs:annotation>
		                </xs:element>
                </xs:sequence>
        </xs:complexType>


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<Mixin>>  versionableAndDescribable  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="versionableAndDescribable">
                <xs:annotation>
                        <xs:documentation>A resource that is both versionable and describable.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="versionable">
                                <xs:sequence>
                                        <xs:element name="entityDescription" type="entityDescription" minOccurs="0" >
                                                <xs:annotation>
                                                        <xs:documentation>The description of the resource.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: propertyQualifier  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="propertyQualifier">
                <xs:annotation>
                        <xs:documentation>Additional information about the property and/or its association with the resource.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="value" type="text" minOccurs="0"/>
                
	                <xs:element name="propertyQualifierName" type="iso21090:ST">
	                        <xs:annotation>
	                                <xs:documentation>The local name of the qualifier.  Must match a local id of a supportedPropertyQualifier in the corresponding mappings section.</xs:documentation>
	                        </xs:annotation>
	                </xs:element>
	                <xs:element name="propertyQualifierType" type="iso21090:ST">
	                        <xs:annotation>
	                                <xs:documentation>The local name of the qualifier type. Must match a local id of a supportedPropertyQualifierType in the corresponding mappings section.</xs:documentation>
	                        </xs:annotation>
	                </xs:element>
                </xs:sequence>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: property  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="property">
                <xs:annotation>
                        <xs:documentation>A description, definition, annotation or other attribute that serves to further define or identify an resource.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="versionable">
                                <xs:sequence>
                                        <xs:element name="source" type="iso21090:ST" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>The local identifiers of the source(s) of this property. Must match a local id of a supportedSource in the corresponding mappings section.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="usageContext" type="iso21090:ST" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>The local identifiers of the context(s) in which this property applies. Must match a local id of a supportedContext in the corresponding mappings section.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="propertyQualifier" type="iso21090:ST" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>A qualifier that provides additional information about this particular property and/or its association with the resource.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="value" type="text" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>The value of the property associated with this particular resource.  Note that "text" may be any type, including a URI, html fragment, etc.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                
		                                <xs:element name="propertyName" type="iso21090:ST">
		                                        <xs:annotation>
		                                                <xs:documentation>The local identifier that defines the meaning of this particular property entry. Must match a local id of a supportedProperty in the corresponding mappings section.</xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="propertyId" type="iso21090:ST">
		                                        <xs:annotation>
		                                                <xs:documentation>A unique identifier of this particular propert/resource/value instance.</xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="propertyType" type="iso21090:ST">
		                                        <xs:annotation>
		                                                <xs:documentation>The LexGrid model element that this property represents.  As an example, the codingScheme "copyright" attribute could be represented by a property with a propertyType that mapped to lgCS:copyRight. Must match a local id of a supportedPropertyType in the corresponding mappings section.</xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="language" type="iso21090:ST">
		                                        <xs:annotation>
		                                                <xs:documentation>The local identifier of the language of the property value. Must match a local id of a supportedLanguage in the corresponding mappings section. If omitted, and language is applicable to this property, the defaultLanguage of the surrounding resource is used.</xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class:  properties  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="properties">
                <xs:annotation>
                        <xs:documentation>A collection of properties.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="property" type="property" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>An entry in the property list.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class:  entityDescription  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType mixed="true" name="entityDescription">
                <xs:annotation>
                        <xs:documentation>The description of a resource.  (Note: entityDescription may apply to any describable resource, not just "entities".</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="iso21090:ANY"/>   
                </xs:complexContent>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: text  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType mixed="true" name="text">
                <xs:annotation>
                        <xs:documentation>The value of an entityDescription, property, etc.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="iso21090:ANY">
                        	<xs:sequence>
                                <xs:element name="dataType" type="iso21090:ST">
                                        <xs:annotation>
                                                <xs:documentation>The local identifier of the format or data type of the text. Must match a local id of a supportedDataType in the corresponding mappings section.  Default: tsCaseSensitiveIA5String</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                             </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>


</xs:schema>
