LexEVSAnalyiticalService/schema/LexEVSGridService/versions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iso21090="uri:iso.org:21090" xmlns:lgCommon="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/commonTypes" xmlns:lgCS="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/codingSchemes" xmlns="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/versions" targetNamespace="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/versions" elementFormDefault="qualified">

        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/codingSchemes" schemaLocation="codingSchemes.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/iso21090/commonTypes" schemaLocation="commonTypes.xsd"/>
		<xs:import namespace="uri:iso.org:21090" schemaLocation="ISO_extensions.xsd"/>
		
		 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: entityVersion  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="entityVersion" type="entityVersion"/>
        <xs:complexType name="entityVersion">
                <xs:annotation>
                        <xs:documentation>A static snapshot of the given entity.</xs:documentation>
                        <xs:documentation>NOTE: This type is here for backwards compatbility with the LexBIG API, and is not otherwise used in the current LexGrid model.  Do not reference or use!</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:describable">
                                <xs:sequence>
                                        <xs:element name="changeDocumentation" type="iso21090:ST" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation> User documentation about this particular change. Format is coding scheme specific. </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="changeInstructions" type="iso21090:ST" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation>Formal or semi-formal instructions on how to apply this change. </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                
		                                <xs:element name="isComplete" type="iso21090:BL" >
		                                        <xs:annotation>
		                                                <xs:documentation> If true, this entity represents a complete copy of the particular release. If false, it only carries a delta. </xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="version" type="iso21090:ST">
		                                        <xs:annotation>
		                                                <xs:documentation>The unique version identifier.</xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="versionOrder" type="iso21090:INT" >
		                                        <xs:annotation>
		                                                <xs:documentation> The relative order of this version within the surrounding container. </xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="versionDate" type="iso21090:TS">
		                                        <xs:annotation>
		                                                <xs:documentation> The end date for which this version is operative (considered commited). </xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="effectiveDate" type="iso21090:TS">
		                                        <xs:annotation>
		                                                <xs:documentation> The start date for which this version is operative (considered active). </xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
		                                <xs:element name="releaseURN" type="iso21090:ST">
		                                        <xs:annotation>
		                                                <xs:documentation> URN of the release from which this version is drawn. </xs:documentation>
		                                        </xs:annotation>
		                                </xs:element>
                                
                             </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
		
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: entryState  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="entryState">
                <xs:annotation>
                        <xs:documentation>Represents a change that occurred between the current state of the versionable entry and an immediately preceeding state of the same entry.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
	                <xs:element name="containingRevision" type="iso21090:ST">
	                        <xs:annotation>
	                                <xs:documentation>The revision that contains this particular entry state change.</xs:documentation>
	                        </xs:annotation>
	                </xs:element>
	                <xs:element name="relativeOrder" type="iso21090:INT" minOccurs="1" maxOccurs="1">
	                        <xs:annotation>
	                                <xs:documentation>The relative order that this state change should be applied within the context of the containing revision.</xs:documentation>
	                        </xs:annotation>
	                </xs:element>
	                <xs:element name="changeType" type="changeType" minOccurs="1" maxOccurs="1">
	                        <xs:annotation>
	                                <xs:documentation>The type of change that occurred between this state and the previous.</xs:documentation>
	                        </xs:annotation>
	                </xs:element>
	                <xs:element name="prevRevision" type="iso21090:ST">
	                        <xs:annotation>
	                                <xs:documentation>The unique identifir of the state of this entry was at prior to this change.</xs:documentation>
	                        </xs:annotation>
	                </xs:element>
                </xs:sequence>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: changeType  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="changeType">
                <xs:annotation>
                        <xs:documentation>The type of state change between the current versionable entry and the previous.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="NEW">
                                <xs:annotation>
                                        <xs:documentation>Versionable entry is new in this revision. No previous state is available.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="MODIFY">
                                <xs:annotation>
                                        <xs:documentation>Entry has been modified between this state and the previous.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="VERSIONABLE">
                                <xs:annotation>
                                        <xs:documentation>Versionable attribute has changed since prior version. Versionable attributes include: isActive, status, owner, effectiveDate or expirationDate.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="DEPENDENT">
                                <xs:annotation>
                                        <xs:documentation>The status of a dependent entry has changed since the last version. Dependent entities include properties, codedEntries for codingSchemes, associationInstances, etc.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="REMOVE">
                                <xs:annotation>
                                        <xs:documentation>Versionable entry was removed as of this version. This is not the same as deprecated, as the entity ceases to exist in future versions</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                </xs:restriction>
        </xs:simpleType>
        
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<EntryPoint>> systemRelease  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="systemRelease" type="systemRelease"/>
        <xs:complexType name="systemRelease">
                <xs:annotation>
                        <xs:documentation>A collection of coding schemes, value set definitions, pick list definitions and/or revision records that are distributed as a unit.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:describable">
                                <xs:sequence>
                                        <xs:element name="codingSchemes" type="lgCS:codingSchemes" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>A collection of coding schemes that are included in this release. Each entry in this collection is a complete representation of a coding scheme at a given revision.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                       
                               
                                <xs:element name="releaseId" type="iso21090:ST">
                                        <xs:annotation>
                                                <xs:documentation>The label assigned to this release by the release agency.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="releaseURI" type="iso21090:ST">
                                        <xs:annotation>
                                                <xs:documentation>The official URI of this release</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="releaseDate" type="iso21090:TS">
                                        <xs:annotation>
                                                <xs:documentation>The official release data and time of this release.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="releaseAgency" type="iso21090:ST">
                                        <xs:annotation>
                                                <xs:documentation>The URI of the agency responsible for this release</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="basedOnRelease" type="iso21090:ST">
                                        <xs:annotation>
                                                <xs:documentation>The URI of the release that logically preceeds this release</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                
                                 </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        
        <xs:element name="codingSchemeVersion" type="codingSchemeVersion"/>
        <xs:complexType name="codingSchemeVersion">
                <xs:annotation>
                        <xs:documentation> A static snapshot of a coding scheme at a point in time. May be either a complete </xs:documentation>
                        <xs:documentation>NOTE: This type is here for backwards compatbility with the LexBIG API, and is not otherwise used in the current LexGrid model.  Do not reference or use!</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="entityVersion"> </xs:extension>
                </xs:complexContent>
        </xs:complexType>

</xs:schema>
